html{
	background-color: #222;
}
#wall{
	width: 900px;
	height: 500px;
	border: 1px solid black;
	float: left;
	background-image: url("src/img/wall.jpg");
	background-repeat: no-repeat;
	margin-left: 80px;
	margin-top: auto;
}
#prod_sizes,#products{
	width: 150px;
	height: 100%;
	border: 1px solid gray;
	float: left;
	background-color: white;
}
.prod{
	height: 100px;
	margin: auto;
	position: relative;
}
.prodOnStage:hover{
	-moz-box-shadow:0px 0px 17px 0px rgba(77, 255, 0, 0.8);
-webkit-box-shadow:0px 0px 17px 0px rgba(77, 255, 0, 0.8);
box-shadow:0px 0px 17px 0px rgba(77, 255, 0, 0.8);

}
.prodOnStage{
	
}